
<div class="card" [hidden]="!showForm" >
  <h2 class="card-title">Need Short URL?Short links, big results.</h2>

  <div class="card-body">
    <form [formGroup]="longUrlForm" (ngSubmit)="onSubmit()">
    
      <div class="input-group mb-3">
        <label for="basic-url" class="form-label">Paste your URL</label>
        <div class="input-group mb-3">
          <input type="url" name="url" id="price" formControlName="longUrl" placeholder="Url" required
          class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="">
          <button type="submit" class="btn btn-primary btn-lg" [disabled]="!longUrlForm.valid"><a> Shorten your URL
          </a></button>
        </div>
    
      </div>
    </form>
  </div>
</div>

<div class="card" [hidden]="!showResult">
  <div class="card-body">
    <h3 class="card-title">Your Short URL</h3>
    <h6 class="card-subtitle mb-2 text-muted">Short URL</h6>
    
    <h2><a [attr.href]="shortUrl"  >{{shortUrl}}</a></h2>
    <br>
    <br>
    <h6 class="card-subtitle mb-2 text-muted">Long URL</h6>

    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">{{longUrl}}</span>
      <span class="block text-indigo-600"></span>
    </h2>

    <br>
    <a href="#" (click)="toggleView();resetApp()" class="btn btn-primary">Create other shortened URL</a>
  </div>
</div>